{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% set htmlClasses="red-background" %}

{% block header %}
<h1>My header</h1>
{% endblock %}

{% block footer %}
<h1>My footer</h1>
{% endblock %}
